*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

body {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
}
